---
layout: default
---

<div class="home">

  {{ content }}

  {%- if paginator.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "全部文章" }}</h2>
    <ul class="post-list">
      {%- for post in paginator.posts -%}
      <li>
        <div class="post-container">
        <div class="post-word">
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        <p class="post-description">
              {{ post.description | escape }}
        </p>
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
        </div>
        {%- if post.feature_image -%}
        <div class="feature-image-wrapper">
        <img class="feature-image" src="{{site.baseurl}}{{post.feature_image}}"/> 
        </div>
        {%- endif -%}
      </div>
      </li>
      {%- endfor -%}
    </ul>

    {% if paginator.total_pages > 1 %}
      <div class="prev-next-posts no-border">
        {% if paginator.previous_page %}
        <a class="prev" href="{{ paginator.previous_page_path | remove: 'index.html'| prepend: site.baseurl }}"
          >&laquo; 更新的文章</a
        >
        {% else %} <span class="no-more">已到最新一页</span>{% endif %}
        {% if paginator.next_page %}
        <a class="next" href="{{ paginator.next_page_path | remove: 'index.html' | prepend: site.baseurl }}"
          >更早的文章 &raquo;</a
        >
        {% else %} <span class="no-more">已到最早一页</span>{% endif %}
      </div>
      {% endif %}
    {%- endif -%}
    <p class="rss-subscribe">订阅我们的 <a href="{{ "/feed.xml" | relative_url }}">RSS</a></p>

</div>
