---
layout: default
---

<article
  class="post h-entry"
  itemscope
  itemtype="http://schema.org/BlogPosting"
>
  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">
      {{ page.title | escape }}
    </h1>
    <p class="post-meta">
      <time
        class="dt-published"
        datetime="{{ page.date | date_to_xmlschema }}"
        itemprop="datePublished"
      >
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y"
        -%} {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%} •
      <span itemprop="author" itemscope itemtype="http://schema.org/Person"
        ><span class="p-author h-card" itemprop="name">{{
          page.author
        }}</span></span
      >
      {%- endif -%}
    </p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">{{ content }}</div>

  <div class="social-share-cs"></div>

  <div class="prev-next-posts">
    {% if page.previous.url %}
    <a class="prev" href="{{site.baseurl}}{{page.previous.url}}"
      >&laquo; {{ page.previous.title }}</a
    >
    {% else %} <span class="no-more">没有上一篇了</span> {% endif %} {% if
    page.next.url %}
    <a class="next" href="{{site.baseurl}}{{page.next.url}}"
      >{{ page.next.title }} &raquo;</a
    >
    {% else %} <span class="no-more">没有下一篇了</span> {% endif %}
  </div>
  {%- if site.disqus.shortname -%} {%- include disqus_comments.html -%} {%-
  endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/social-share.js/1.0.16/js/social-share.min.js"></script>
  <script>
    var shareConfig = {
      // title               : 'Picpic Live',
      // description         : 'Picpic Live',
      disabled: ["diandian"],
      wechatQrcodeTitle: "微信扫一扫：分享", // 微信二维码提示文字
      wechatQrcodeHelper:
        '微信中点击"发现"->"扫一下"扫描二维码便可将本文分享至朋友圈'
    };

    socialShare(".social-share-cs", shareConfig);
  </script>
  <style>
    .social-share .icon-wechat .wechat-qrcode {
      top: -255px;
      height: 242px;
    }

    .social-share .icon-wechat .wechat-qrcode .qrcode {
      height: 150px;
      width: 150px;
    }

    .social-share .icon-wechat .wechat-qrcode .qrcode img {
      height: 100%;
      width: 100%;
    }

    .social-share .icon-wechat .wechat-qrcode .help {
      padding: 2px 8px;
      line-height: 16px;
    }
  </style>
  <script
    async
    src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
  ></script>
  <!-- Blog Post Bottom -->
  <ins
    class="adsbygoogle"
    style="display:block"
    data-ad-client="ca-pub-9042381910330866"
    data-ad-slot="2883436644"
    data-ad-format="auto"
    data-full-width-responsive="true"
  ></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
  <script src="https://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
  <script type="text/javascript">
    function configWechatJsSdk(appId, noncestr, timestamp, signature) {
      if (window.wx) {
        return new Promise((resolve, reject) => {
          window.wx.config({
            //   debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: appId, // 必填，公众号的唯一标识
            timestamp, // 必填，生成签名的时间戳
            nonceStr: noncestr, // 必填，生成签名的随机串
            signature, // 必填，签名
            jsApiList: [
              "onMenuShareTimeline",
              "updateAppMessageShareData",
              "updateTimelineShareData",
              "onMenuShareAppMessage",
              "onMenuShareQQ",
              "onMenuShareWeibo",
              "onMenuShareQZone"
            ] // 必填，需要使用的JS接口列表
          });
          window.wx.ready(() => {
            resolve();
          });
          window.wx.error(() => {
            reject("Error configuring wx"); // eslint-disable-line prefer-promise-reject-errors
          });
        });
      }

      // else
      return Promise.reject("wx is not defined in current environment"); // eslint-disable-line prefer-promise-reject-errors
    }

    function configAppShareMessage(title, desc, link, imageUrl) {
      if (window.wx) {
        return new Promise((resolve, reject) => {
          wx.updateAppMessageShareData({
            title, // 分享标题
            desc, // 分享描述
            link, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
            imgUrl: imageUrl, // 分享图标
            success: () => {
              resolve();
            },
            fail: () => {
              reject("updateAppMessageShareData failed"); // eslint-disable-line prefer-promise-reject-errors
            }
          });
        });
      }

      // else
      return Promise.reject("wx is not defined in current environment"); // eslint-disable-line prefer-promise-reject-errors
    }

    function configTimelineShareMessage(title, link, imageUrl) {
      if (window.wx) {
        return new Promise((resolve, reject) => {
          wx.updateTimelineShareData({
            title, // 分享标题
            link, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
            imgUrl: imageUrl, // 分享图标
            success: () => {
              resolve();
            },
            fail: () => {
              reject("updateTimelineShareData failed"); // eslint-disable-line prefer-promise-reject-errors
            }
          });
        });
      }

      // else
      return Promise.reject("wx is not defined in current environment"); // eslint-disable-line prefer-promise-reject-errors
    }

    function getWechatSignature(url) {
      var noncestr = randStr(8);
      var timestamp = Math.floor(Date.now() / 1000);
      return fetch(
        `https://api.picpiclive.com/users/wechat/signature?noncestr=${encodeURIComponent(
          noncestr
        )}&timestamp=${encodeURIComponent(timestamp)}&url=${encodeURIComponent(
          url
        )}`
      ).then(rawResponse => {
        return rawResponse.json()
      }).then(response => {
        if (response.errorCode !== "NO_ERROR") {
          return null;
        }

        return { noncestr, timestamp, signature: response.signature };
      });
    }

    function randStr(len) {
      var s = "";
      while (s.length < len)
        s += Math.random()
          .toString(36)
          .substr(2, len - s.length);
      return s;
    }

    getWechatSignature(window.location.href).then(response => {
      if (!response) {
        return;
      }

      configWechatJsSdk(
        "wxf9bb8f4cb328d6c7",
        response.noncestr,
        response.timestamp,
        response.signature
      ).then(() => {
        configAppShareMessage(
          "{{ page.title | escape }}",
          "{{ page.description | escape }}",
          window.location.href,
          "https://picpiclive.com{{site.baseurl}}{{page.feature_image}}"
        )
          .then(() => {
            // alert(`Finished configuring AppShareMessage`)
          })
          .catch(reason => {
            // alert(`Error configuring AppShareMessage: ${reason}`)
            console.log(`Error configuring AppShareMessage: ${reason}`);
          });
        configTimelineShareMessage(
          "{{ page.title | escape }}",
          window.location.href,
          "https://picpiclive.com{{site.baseurl}}{{page.feature_image}}"
        )
          .then(() => {
            // alert(`Finished configuring TimelineShareMessage`)
          })
          .catch(reason => {
            // alert(`Error configuring TimelineShareMessage: ${reason}`)
            console.log(`Error configuring TimelineShareMessage: ${reason}`);
          });
      });
    });
  </script>
</article>
